.input{
    @apply bg-[#1e1e1e] text-[#909090] pl-[15px] py-[10px] min-w-[100%] mt-[10px];
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;

}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
	display: none;
}

.error {
    @apply text-white;
    margin: 0px 0px 0px 0px;
    top: 0;
    left: 0;
}