.link{
    @apply mr-5  hover:text-gray-900 cursor-pointer;

}
    .linkac{
            @apply mr-5 border-b-[1px] ;
            color:  #CACACA;;
    }
.wrapper{
    background-color: #F5F5F5;
    padding-top: 80px;
}