.header {
   width: 100%;
   position: fixed;
   height: 80px;
   background-color: #ffffff;
   z-index: 10;
}

.cartItem {
   order: 4;
}

.box {
   min-width: 100%;
   margin: 0 auto;
   height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.box nav {
   order: 3;
}

.menu {
   display: flex;
   align-items: center;
   margin-left: 40px;
}

@media screen and (max-width: 1023px) {
   .menu {
      font-size: 14px;
   }
}

@media screen and (min-width: 801px) {
   .menu {
      margin-left: auto;
      margin-right: 80px;
   }
}

.mobile_btn {
   display: none;
   order: 4;
}

@media (max-width: 800px) {
   .cartItem {
      margin-right: 50px;
   }

   .mobile_btn {
      display: block;
      position: absolute;
      right: 10px;
      top: 27px;
      cursor: pointer;
      z-index: 10;
   }

   .menu {
      padding-top: 20vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      position: fixed;
      right: -100%;

      top: 0;
      bottom: 0;
      min-width: 284px;
      height: 100vh;
      background-color: #f8f8f8;
      z-index: 10;
      transition: right 1s;
      gap: 15px;
   }

   @media (min-width: 500px) {
      .menu {
         min-width: 374px;
      }
   }

   .active {
      right: 0;
   }

   .menu a {
      font-size: 16px;
   }
}
