@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@font-face {
   font-family: 'Futura PT Medium';
   src: url('./FuturaPT-Medium.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Futura PT Heavy';
   src: url('./FuturaPT-Heavy.woff');
   font-weight: normal;
   font-style: normal;
   }

@font-face {
   font-family: 'Futura PT Book';
   src: url('./FuturaPT-Book.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}